 <nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="logo">
		<img src="assets/logo.PNG" />
  </header>
	<ul class="main-section">
    <li tabindex="0" >
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      </a>
    </li>
  </ul>
	<ul class="footer">
    <li tabindex="0" class="icon-logout">
      <a routerLink="/auth" routerLinkActive="active">
        <i class="fas fa-power-off"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</nav>