@import '../../../variables.scss';

.no-data-container {
  padding: 2%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  .illustration {
      flex: 2;
    text-align: center;
    img {
        width: 100%;
    }
}
  .content {
    text-align: center;
    flex: 1;
    padding: 2%;
    .main {
      color: $tr-blue;
      font-weight: bold;
      letter-spacing: 1px;
    }
    p {
        font-size: $sm;
        color: $tr-blue-mid-light;
    }
  }
}

@media (max-width: 700px) {
  .no-data-container {
    flex-flow: column;
    margin-top: 20%;
    .illustration {
        flex: 0;
    }
    .content {
        .main, p {
            font-size: 12px;
        }
    }
  }
}
