
@import '../../variables.scss';

.main-container{
	margin:0;
	font-family:"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#fff;
	padding-left:$menu-width-desktop;
}

@media screen and (max-width:900px) and (min-width:400px){
	.main-container{
		padding-left:$menu-width-tablet;
	}
}
@media screen and (max-width:400px){
	.main-container{
		padding-left:0;
	}
}

.main-content{
    min-height: 100%;
    height: 100%;
}