<div class="dashboard-container" *ngIf="!loading;else loadingTemplate">
    <div class="toolbar">
        <div class="input-group input-group-sm mb-3">
            <select class="form-select form-select-sm filter-options"  (change)="searchConfigUpdate($event)">
                <option selected>Filter By</option>
                <option value="tags">Tags</option>
                <option value="title">Title</option>
              </select>
            <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search offers" (keyup)="searchOffers(searchQuery)">
          </div>
          <div class="btn-group btn-group-sm mb-3" role="group">
            <button type="button" class="btn ">
                <ng-container *ngIf="sortDirection === 'ASC';else DESCTemplate">
                    <i class="fas fa-sort-amount-up-alt" (click)="toggleSortDirection()"></i>
                </ng-container>
                <ng-template #DESCTemplate>
                    <i class="fas fa-sort-amount-down-alt" (click)="toggleSortDirection()"></i>
                </ng-template>
            </button>
            <select class="form-select form-select-sm" [(ngModel)]="sortedBy" (change)="sortConfigUpdate($event)">
                <option value="highestBid">Highest Bid</option>
                <option value="offerPublicationDate">Publication Date</option>
              </select>
          </div>
    </div>
    <div class="cards" *ngIf="manipulatedOffers.length;else noData">
            <app-offer-card *ngFor="let offer of manipulatedOffers" [offer]="offer" [isFavorite]="isFavoriteOffer(offer)" (isFavoriteOffersChange)="updateOffer($event, offer)"></app-offer-card>
    </div>
    <ng-template #noData>
        <app-no-data></app-no-data>
    </ng-template>
</div>
<ng-template #loadingTemplate>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</ng-template>
