@import '../../../variables.scss';

.login-container {
    padding: 5% 20%;
  .card-placeholder {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;

    .logo {
      width: 200px;
      height: 100px;
      margin-top: 20px;
      margin-left: 35px
    }

    .image {
      width: 360px;
      height: 280px
    }

    .border-line {
      border-right: 1px solid #EEEEEE
    }
  }

  .login-form-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;

    .login-form {
      margin: 0px 40px;
      color: $tr-blue-dark;

      .text-sm {
        font-size: 14px !important;
        font-weight: 600;
      }

      input,
      textarea {
        padding: 10px 12px 10px 12px;
        border: 1px solid lightgrey;
        border-radius: 2px;
        margin-bottom: 5px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        color: $tr-blue-mid-light;
        font-size: 14px;
        letter-spacing: 1px
      }

      input:focus,
      textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid $tr-blue-light;
        outline-width: 0
      }

      ::placeholder {
        color: #BDBDBD;
        opacity: 1;
        font-weight: 300
      }

      :-ms-input-placeholder {
        color: #BDBDBD;
        font-weight: 300
      }

      ::-ms-input-placeholder {
        color: #BDBDBD;
        font-weight: 300
      }

      button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
      }

      .btn-blue {
        background-color: $tr-yellow;
        width: 150px;
        color: $tr-blue-dark;
        border-radius: 2px
      }

      .btn-blue:hover {
        background-color: $tr-blue-dark;
        color: $tr-blue-extra-light;
        cursor: pointer
      }

      .bg-blue {
        color: $tr-blue-extra-light;
        background-color: $tr-blue
      }
    }
  }

}

@media screen and (max-width: 991px) {
  .login-container {
    .card-placeholder {
      .logo {
        margin-left: 0px
      }

      .image {
        width: 300px;
        height: 220px
      }

      .border-line {
        border-right: none
      }
    }

    .login-form-container {
      .login-form {
        .login {
          border-top: 1px solid #EEEEEE !important;
          margin: 0px 15px
        }
      }
    }
  }
}
