/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

* {
  margin:0;
  padding:0;
}
html, body {
  height:100%;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 160%;
  position: relative;
  background-color: $tr-blue-extra-light;
}



//scroll bar style
::-webkit-scrollbar {
	width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: $tr-blue-extra-light; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $tr-blue;
	border-radius: 5px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: opacify($color: $tr-blue-dark, $amount: 0.8); 
  }