// Colors
$tr-yellow: #FAE100;
$tr-blue-dark: #002334;
$tr-blue: #33657E;
$tr-blue-slightly-light: #5C8498;
$tr-blue-mid-light: #85A3B2;
$tr-blue-light: #ADC1CB;
$tr-blue-very-light: #D6E0E5;
$tr-blue-extra-light: #EBF0F2;

// Sizes
$menu-width-desktop: 240px;
$menu-width-tablet: 90px;
$menu-width-smartphone: 230px;
